.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

button.check-password-button {
    background: green;
    color: white;
}

button.check-password-button:hover {
    background: transparent;
    color: white;
    border: 1px solid green;
}

p.password-not-match {
    color: red;
    margin: 0;
}

.progress-bar-container {
    margin: 15px;
}